<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    
  </startup>
  <connectionStrings>
    
  </connectionStrings>
  <appSettings>
    <add key="DatabaseConfig_ConnectionString" value="Server=127.0.0.1;Port=5432;User Id=postgres;Password=admin;Database=postgres;"/>
    <add key="DatabaseConfig_User" value="2"/>
    <add key="DatabaseConfig_Password" value="3"/>
  </appSettings>
</configuration>
